:root {
    --background-color: #3d4249;
    --background-color-dark: #353a3f;
    --background-color-darker: #303338;
    --paper-color: #494f58;
    --text-secondary-color: #90969e;
    --text-primary-color: #ffffff;
   
   
    --primary-color: #d56589;
   
   
    color: var(--text-primary-color);
   }
   